* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #4b4646;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #fff;
    height: 100vh;
}


.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* === STRUCTURA PRINCIPALA === */
.main-items-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
}

/* === BARA DE INSTRUMENTE === */
.tools-panel {
    position: absolute;
    top: 20px;
    left: 0px;
    height: 35px;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 0px;
    gap: 15px;
    z-index: 2000;
}

.tool-btn {
    width: 180%;
    height: 100%;
    padding: 50px 2px;
    background: linear-gradient(135deg, #5a4b4b, #7c6a6a);
    border: none;
    font-size: 35px;
    border-radius: 0px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(-30px);
}

.tool-btn.active {
    background: linear-gradient(135deg, #a6745c, #c9997a);
    box-shadow: 0 0 10px rgba(255, 200, 150, 0.5);
    color: rgb(145, 10, 10);
    transform: translateY(-10px);
}

.tool-btn:hover {
    background: linear-gradient(135deg, #7a6060 0%, #aa8585 50%, #7a6060 100%);
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4), 0 0 10px rgba(255, 200, 150, 0.2);
    transform: translateY(-15px);
}

/* === ZONA PRINCIPALA CU IMAGINE === */
.main-canvas-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

/* aici sunt butoanele de upload si save */
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    width: 100%;
    margin-top: -20px; 
    padding-bottom: 10px;
    z-index: 100;
    pointer-events: none;
}

#upload-file {
    display: none;
}

.file-upload-wrapper>label,
.save-btn {
    border-radius: 0 0 12px 12px; 
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    min-width: 140px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 25px 30px 12px 30px; 
    
    background: linear-gradient(135deg, #5a4b4b, #7c6a6a);
    color: #fff;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);

    transform: translateY(-15px); 
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1), background-image 0.3s, box-shadow 0.3s;
    pointer-events: auto;
}

.file-upload-wrapper>label:hover,
.save-btn:hover {
    transform: translateY(0);
    background: linear-gradient(135deg, #7a6060, #aa8585); 
    box-shadow: 0 0 15px rgba(255, 200, 150, 0.3); 
}

.save-btn {
    background: linear-gradient(135deg, #e3c495, #cfa06b);
    color: #4b3b30;
    font-weight: 700;
    box-shadow: 0 4px 15px rgba(207, 160, 107, 0.4);
}

.save-btn:hover {
    background: linear-gradient(135deg, #ebd2aa, #dcb386);
    box-shadow: 0 6px 20px rgba(207, 160, 107, 0.6);
    transform: translateY(0);
}

.save-btn:active {
    background: linear-gradient(135deg, #cfa06b, #b58b5a);
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
}
/* final parte cu butoane upload si save */

.img-wrapper {
    flex: 1;
    position: relative;
    min-height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid rgba(101, 58, 58, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
}

.img-wrapper.highlight {
    /* asta se aplica atunci cand se face drag & drop */
    border: 4px dashed #FFC896;
    background: rgba(255, 200, 150, 0.1);
}

.placeholder-text {
    position: absolute;
    top: 50%;
    left: 43%;
    color: #b2b2b2;
    /* Culoarea textului (similara cu butoanele active) */
    font-size: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.placeholder-text i {
    font-size: 2.5em;
}

.img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
}


/* ----- Modal overlay pt popup-uri la text(dimensiuni, culoare) si la fill effect (culoarea) ------ */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /*  /* face interfata principala putin neagra in spate, dar transparenta (0.5) */
    backdrop-filter: blur(8px); /* adauga putin blur pe fundal */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: #2b2b2b;
    color: #fff;
    padding: 25px 30px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    animation: fadeIn 0.3s ease-out forwards;
}
.modal h3 {
    margin: 0;
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 10px;
    margin-bottom: 5px;
    font-size: 1.2em;
}
@keyframes fadeIn { /* aici se declara animatia de fade-in pentru pop-upurile modal */
    from { 
        opacity: 0;  /* initial, complet invizibil */
        transform: translateY(20px) scale(0.95); /* initial, e pus cu 20 de pixeli mai jos decat va fi in final, si miscsorat cu 5% */
    }
    to { 
        opacity: 1;  /* in final, e vizibil complet, si se muta la Y-ul final, si cu scale 1, adica 100% */
        transform: translateY(0) scale(1); 
    }
}

.modal label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ccc; 

}

.modal input {
    width: 100px;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #555;
    background: #444;
    color: white;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
}
.modal input:focus {
    border-color: #a6745c; 
    background: #505050;
}

.modal button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease;
}

.modal button:hover {
    background: #836953;
}



/* === FOOTER === */
.footer-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #ccc;
    border-top: 1px solid #555;
}


.hidden { /* folosita pt a ascunde niste elemente cand nu e nevoie de ele (mesajul de drag&drop) */
    display: none;
}

@media (max-width: 800px) {
    .app-wrapper {
        padding-top: 50px;
    }

    .main-items-container {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
    }

    .buttons {
        margin-top: 10px;
        flex-direction: column;
        pointer-events: auto;
    }

    .tools-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 2000;
        background: #333;
        padding: 0px 50px;
        gap: 5px;

    }

    .tool-btn:hover {
        transform: none;
    }

    .tool-btn.active {
        transform: none;
    }

    file-upload-wrapper>label:hover {
        transform: none;
    }

    .file-upload-wrapper>label,
    .save-btn {
        flex: 1;
        display: flex;
        font-size: 20px;
        padding: 10px 15px;
        justify-content: center;
        width: 100%;
        border-radius: 12px;
        transform: none;
        margin-bottom: 5px;
    }

    .file-upload-wrapper>label {
        margin-top: 24px;
    }

    .save-btn:hover {
        transform: none;
    }
}

.img-wrapper {
    min-height: 250px;
    height: 70vh;
}